.container {
  border-left: solid 4px #2f87a8;
  padding-left: 15px;
  margin: 10px 0;
}

.blue {
  border-left-color: #2f87a8;
}

.green {
  border-left-color: #abe188;
}

.projectTitle {
  color: #222222;
  margin: 0 0 0 0;
}

.projectDescription {
  color: #222222;
  font-weight: 400;
  font-size: 12px;
  width: 50%;
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
  .projectDescription {
    width: 100%;
  }
}
