.container {
  border-left: solid 4px #2f87a8;
  padding-left: 15px;
  margin: 10px 5px;
}

.blue {
  border-left-color: #2f87a8;
}

.green {
  border-left-color: #abe188;
}

.projectTitle {
  color: #222222;
  margin: 0;
}

.projectDescription {
  color: #555555;
  font-weight: 400;
  font-size: 12px;
  margin: 10px 0;
}

.projectAward {
  color: #222222;
  margin: 5px 0;
  padding-bottom: 5px;
  font-weight: 500;
}
