{
  "extends": [
    "@transferwise",
    "plugin:css-modules/recommended"
  ],
  "rules": {
    "eqeqeq": "warn",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "plugins": [
    "css-modules"
  ]
}