:root {
  --font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --main-content: 45rem;
  --dark: #222222;
  --grey: #444444;
  --light: rgba(255, 255, 255, 0.99);
  --transferwise: #00b9ff;
  --protonmail: #8a90c7;
  --keybase: #ff6f21;
  --transition: color 0.2s ease, background-color 0.2s ease, top 0.2s ease,
    left 0.2s ease;
  --moon-top: 0px;
  --moon-left: 0px;
}

:root.dark {
  --dark: rgba(255, 255, 255, 0.99);
  --grey: #dddddd;
  --light: #222222;
  --moon-top: -4px;
  --moon-left: 6px;
}

:root.dark-init {
  --transition: none !important;
}

::selection {
  background: var(--dark);
  color: var(--light);
}

body {
  background-color: var(--light);
  transition: var(--transition);
}

main {
  padding: 2em 2em 0 2em;
  max-width: var(--main-content);
  line-height: 1.9;
  margin: 0 auto;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: var(--font);
  color: var(--dark);
  font-size: 3rem;
  font-weight: bold;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  transition: var(--transition);
}

p {
  font-family: var(--font);
  color: var(--grey);
  letter-spacing: 0.1px;
  font-size: 1.25rem;
  transition: var(--transition);
}

button {
  position: relative;
  color: var(--grey);
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  line-height: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background: none;
  margin-right: 0.5rem;
  -webkit-tap-highlight-color: transparent;
}

.sun {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: var(--transition);
}

.moon {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #222222;
  border-radius: 50%;
  left: var(--moon-left);
  top: var(--moon-top);
  transition: var(--transition);
}

a,
a:visited {
  text-decoration: none;
}

.transferwise,
.transferwise::selection {
  color: var(--transferwise);
}

.protonmail,
.protonmail::selection {
  color: var(--protonmail);
}

.keybase,
.keybase::selection {
  color: var(--keybase);
}

@media only screen and (max-width: 400px) {
  main {
    padding: 1em 1.5em 0 1.5em;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  p {
    letter-spacing: 0.5px;
    font-size: 1rem;
  }
}
