.container {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 860px;
  padding: 30px 40px 20px 40px;
  z-index: 2;
}

.container h1,
.container h2 {
  display: inline;
  padding-bottom: 5px;
}

.container p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.blue {
  box-shadow: -20px 20px #2f87a8;
}

.blue h1,
.blue h2 {
  box-shadow: inset 0 0px 0 white, inset 0 -4px 0 #2f87a8;
}

.pink {
  box-shadow: -20px 20px #e17676;
}

.pink h1,
.pink h2 {
  box-shadow: inset 0 0px 0 white, inset 0 -4px 0 #e17676;
}

.yellow {
  box-shadow: -20px 20px #f3c20d;
}

.yellow h1,
.yellow h2 {
  box-shadow: inset 0 0px 0 white, inset 0 -4px 0 #f3c20d;
}

.green {
  box-shadow: -20px 20px #abe188;
}

.green h1,
.green h2 {
  box-shadow: inset 0 0px 0 white, inset 0 -4px 0 #abe188;
}

@media only screen and (max-width: 600px) {
  .blue {
    box-shadow: 0 20px #2f87a8;
  }

  .pink {
    box-shadow: 0 20px #e17676;
  }

  .yellow {
    box-shadow: 0 20px #f3c20d;
  }

  .green {
    box-shadow: 0 20px #abe188;
  }
}
