.header {
  background-color: transparent;
  margin-bottom: 1.45rem;
}

.headerInner {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-wrap: wrap;
}

.headerTitle {
  margin: 0;
  font-size: 40px;
  flex-grow: 2;
  padding-right: 20px;
}

.headerTitleLink {
  color: #ffffff;
  text-decoration: none;
}

.headerNavigation {
  flex-grow: 1;
  padding-top: 16px;
}

.headerLink {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.blue {
  text-shadow: -2px 2px #2f87a8;
}

.pink {
  text-shadow: -2px 2px #e17676;
}

#blueLink {
  transition: text-shadow 0.2s ease;
  -webkit-transition: text-shadow 0.2s ease;
  text-shadow: 0 0 #ffffff;
}

#blueLink:hover,
#blueLinkActive {
  text-shadow: -2px 2px #2f87a8;
}

#pinkLink {
  transition: text-shadow 0.2s ease;
  -webkit-transition: text-shadow 0.2s ease;
  text-shadow: 0 0 #ffffff;
}

#pinkLink:hover,
#pinkLinkActive {
  text-shadow: -1px 1px #e17676;
}

#yellowLink {
  transition: text-shadow 0.2s ease;
  -webkit-transition: text-shadow 0.2s ease;
  text-shadow: 0 0 #ffffff;
}

#yellowLink:hover,
#yellowLinkActive {
  text-shadow: -1px 1px #f3c20d;
}
