.footer {
  background-color: #50514f;
  color: #ffffff;
  padding: 40px;
}

.footerInner {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
}

.footerLink {
  font-family: 'IBM Plex Mono', monospace;
}
