.footer {
  color: #ffffff;
  padding: 40px;
  margin-top: 40px;
  text-shadow: -1px 1px #2f87a8;
}

.footerInner {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
}

.footerLink {
  font-family: 'IBM Plex Mono', monospace;
}
