hgroup {
  display: flex;
}

hgroup h1:first-child {
  margin-right: 6px;
  opacity: 0.2;
}

h2 {
  font-family: var(--font);
  color: var(--foreground);
  font-size: 2rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  transition: var(--transition);
  letter-spacing: -0.04em;
}
