:root {
  --font: -apple-system, blinkmacsystemfont, system-ui, sans-serif;
  --main-content: 45rem;
  --white: rgba(243, 241, 240, 0.99);
  --white-grey: rgba(243, 241, 240, 0.91);
  --black: #111;
  --black-grey: #222;
  --foreground: var(--black);
  --midground: var(--black-grey);
  --background: var(--white);
  --transferwise: #00b9ff;
  --blog: #999;
  --protonmail: #8a90c7;
  --keybase: #ff6f21;
  --transition:
    color 0.2s ease,
    background-color 0.2s ease,
    text-decoration-color 0.2s ease,
    opacity 0.2s ease,
    top 0.2s ease,
    left 0.2s ease;
  --moon-top: 0;
  --moon-left: 0;
}

:root.dark {
  --foreground: var(--white);
  --midground: var(--white-grey);
  --background: var(--black);
  --moon-top: -4px;
  --moon-left: 6px;
}

::selection {
  background: var(--foreground);
  color: var(--background);
}

body {
  background-color: var(--background);
  transition: var(--transition);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font);
  color: var(--foreground);
  font-size: 3rem;
  transition: var(--transition);
  letter-spacing: -0.04em;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-family: var(--font);
  color: var(--foreground);
  font-size: 2rem;
  transition: var(--transition);
  letter-spacing: -0.04em;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-family: var(--font);
  color: var(--foreground);
  font-size: 1.2rem;
  transition: var(--transition);
  letter-spacing: -0.04em;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1rem;
}

p {
  font-family: var(--font);
  color: var(--midground);
  font-size: 1.25rem;
  transition: var(--transition);
}

a {
  text-decoration: none;
}

p a,
p a:visited {
  color: var(--midground);
  font-weight: 500;
  transition: var(--transition);
  text-decoration-line: underline;
  text-underline-position: under;
}

code {
  transition: var(--transition);
  font-family: Menlo, monospace;
  background-color: var(--foreground);
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
}

pre {
  transition: var(--transition);
  font-family: Menlo, monospace;
  background-color: var(--foreground);
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

pre code {
  background-color: var(--foreground) !important;
}

.transferwise,
.transferwise::selection {
  text-decoration-color: var(--transferwise);
}

.blog,
.blog::selection {
  text-decoration-color: var(--blog);
}

.protonmail,
.protonmail::selection {
  text-decoration-color: var(--protonmail);
}

.keybase,
.keybase::selection {
  text-decoration-color: var(--keybase);
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.9rem;
  }

  p {
    letter-spacing: 0.5px;
    font-size: 1rem;
  }

  code {
    font-size: 0.7rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition: none;
  }
}
